html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
      to bottom right,
      rgba(252, 237, 34, 0.9),
      #cc185de1 60%,
      rgba(252, 183, 34, 0.9)
    ),
    url(../../images/tlo.png);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  min-height: 100vh;
}

#root {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
}

.section-content {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  flex: 1;
  padding: 4rem 6rem;
  width: 100%;
}

.button {
  background-color: #cc185d;
  border: 3px solid #cc185d;
  border-radius: 10rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 5rem;
  margin-top: 3rem;
  padding: 1.5rem 4rem;
  transition: background-color 0.2s, color 0.2s;

  &--empty {
    background-color: white;
    color: #1a1a1a;

    &:hover {
      background-color: #cc185d;
      color: white;
    }
  }
}

.main-container {
  display: flex;
  flex: 1;
  padding: 0 4rem 4rem;
  width: 100%;
}
