html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom right, rgba(252, 237, 34, 0.9), #cc185de1 60%, rgba(252, 183, 34, 0.9)), url(../../images/tlo.png);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    min-height: 100vh;
}

.section-content {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    padding: 4rem 6rem;
}