.category-recipes-container {
  background-color: white;
  background-image: linear-gradient(to top, rgba(225, 119, 66, 0.89), #cc185de1),
    linear-gradient(to top, transparent 97%, white 99%),
    url(../../images/tlo.png);
  flex: 1;
  padding: 4rem;
  width: 100%;
}

.thumbnails-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 2rem;
}
