.category-nav {
  align-items: flex-end;
  background-color: white;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 2rem;

  @media (max-width: 1100px) {
    padding-top: 1rem;
  }
}

.category {
  list-style-type: none;
  margin-right: 3rem;
  text-align: center;
  width: 10rem;

  @media (max-width: 1100px) {
    width: 8rem;
    margin-right: 1rem;
  }

  &--small {
    margin-bottom: 2rem;
    margin-right: 3rem;
    width: auto;

    @media (max-width: 1100px) {
      margin-right: 3rem;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover &__icon {
    transform: rotate(-4deg) scale(1.1);
  }

  &__icon {
    margin-bottom: 0.8rem;
    transition: transform 0.2s ease-out;
    width: 6rem;

    @media (max-width: 1100px) {
      width: 4rem;
    }
  }

  &__caption {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }

  &__button {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 10rem 10rem 0 0;
    cursor: pointer;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 600;
    justify-content: center;
    padding: 3rem 2rem 1.5rem;
    position: relative;
    text-decoration: none;
    width: 100%;

    @media (max-width: 1100px) {
      padding: 2rem 2rem 1rem;
    }

    &:hover,
    &--chosen {
      background-color: #d23370;
      color: white;
    }

    &:hover .category__icon,
    &--chosen .category__icon {
      filter: invert(100%);
    }

    &:hover::before,
    &:hover::after,
    &--chosen::before,
    &--chosen::after {
      bottom: 0;
      content: "";
      height: 3rem;
      position: absolute;
      width: 3rem;
    }

    &:hover::before,
    &--chosen::before {
      background-image: radial-gradient(
        circle at top left,
        transparent 72%,
        #d23370 74%
      );
      left: -3rem;
    }

    &:hover::after,
    &--chosen::after {
      background-image: radial-gradient(
        circle at top right,
        transparent 72%,
        #d23370 74%
      );
      right: -3rem;
    }
  }
}
