.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 5rem 0rem;

  &__link-box {
    align-items: center;
    background-color: white;
    border-radius: 20rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 3rem;
    text-decoration: none;

    &:hover .header__logo {
      animation-direction: alternate;
      animation-duration: 0.3s;
      animation-name: wave;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
}

.header__text {
  font-size: 5rem;
  color: black;

  @media (max-width: 700px) {
    font-size: 4rem;
  }
}

.header__logo {
  height: 10rem;
  margin-right: 2rem;
}
