.page-nav {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.page-nav__element {
    align-items: center;
    background-color: white;
    border-radius: 3rem;
    color: black;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 3rem;
    text-decoration: none;

    & + & {
        margin-left: 3rem;
    }
}

.page-nav__icon {
    height: 3rem;
    margin-left: 2rem;
}