.thumbnail {
  align-items: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: filter 0.2s;

  a:hover &__img {
    filter: brightness(70%);
  }

  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &__img {
    bottom: 0;
    left: 0;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;

    & img {
      display: none;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    & .imageLoaded {
      display: block;
    }
  }

  &__name {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 10%;
    display: flex;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2.3rem;
    font-weight: 200;
    justify-content: center;
    left: 0;
    padding: 1.5rem 0;
    position: absolute;
    width: 100%;
  }
}
