.search-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.search__button {
  margin: 0;
  padding: 1rem 3rem;
}

.search__input {
  border: 1px solid;
  border-radius: 5rem;
  font-family: inherit;
  font-size: 2rem;
  margin-right: 3rem;
  padding: 1rem 2rem;
  width: 40%;

  &:focus,
  &:active {
    outline: none;
    background-color: transparent;
  }
}

.search__header {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.search-phrase {
  font-weight: 700;
}
