.modal {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  height: 100vh;
  left: 0;
  width: 100vw;
  padding: 4rem;
  position: fixed;
  top: 0;
  z-index: 20;

  @media (max-width: 1100px) {
    background-color: white;
    background-image: linear-gradient(
        to top left,
        #cc185de1,
        rgba(252, 237, 34, 0.9)
      ),
      url(../../images/tlo.png);
    height: 100%;
    overflow-y: scroll;
  }

  @media (max-width: 900px) {
    padding: 0;
  }
}

.recipe-container {
  background-color: white;
  border-radius: 5px;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1500px;
  overflow: hidden;
  position: relative;

  @media (max-width: 1100px) {
    background-color: unset;
    flex-direction: column;
    overflow: unset;
  }

  @media (max-width: 900px) {
    border-radius: 0;
  }
}

.recipe__photo-container {
  align-items: center;
  background-image: linear-gradient(
      to top left,
      #cc185de1,
      rgba(252, 237, 34, 0.9)
    ),
    url(../../images/tlo.png);
  display: flex;
  flex-basis: 45%;
  justify-content: center;

  @media (max-width: 1100px) {
    background-image: unset;
    padding: 5rem;
  }

  @media (max-width: 700px) {
    flex: 1;
    padding: 0;
  }
}

.recipe__photo {
  height: 60%;
  position: relative;
  width: 80%;

  &::after {
    content: "";
    background-color: white;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: rotate(-4deg);
  }

  @media (max-width: 1100px) {
    height: 40rem;
    width: 60%;
  }

  @media (max-width: 700px) {
    height: 40rem;
    width: 100%;
  }
}

.recipe__photo-img {
  border: 3px solid white;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  @media (max-width: 700px) {
    border: none;
  }
}

.recipe__text-container {
  background-color: white;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 1;
  padding: 4rem 2rem 4rem 6rem;

  @media (max-width: 1100px) {
    border-radius: 5px;
    padding: 2rem 1rem 2rem 3rem;
  }

  @media (max-width: 900px) {
    border-radius: 0;
    padding: 4rem 4rem 4rem 6rem;
  }

  @media (max-width: 500px) {
    padding: 4rem 2rem 4rem 2rem;
  }
}

.recipe__name {
  align-self: stretch;
  background: linear-gradient(to top, rgba(225, 119, 66, 0.89), #cc185de1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6rem;
  font-weight: 700;
  line-height: 6.5rem;
  margin-bottom: 3rem;
  width: 90%;

  &::first-letter {
    text-transform: uppercase;
  }
}

.recipe__details {
  overflow-y: scroll;
  padding-right: 1rem;
  scrollbar-color: #cc185de1 white;
  scrollbar-width: thin;
}

.recipe__ingredients {
  display: flex;
  margin-bottom: 2rem;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.recipe__heading {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.recipe__comments {
  margin-top: 2rem;
}

.ingredients__column {
  flex: 45%;

  & + & {
    @media (max-width: 700px) {
      margin-top: 2rem;
    }
  }
}

.recipe__list {
  color: var(--color-font);
  font-size: 1.8rem;
  font-weight: 400;
  list-style: none;

  &--ingredients > li {
    margin-left: 1.5rem;
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 3px;
    }

    &::before {
      content: "-";
      left: -1.5rem;
      position: absolute;
      top: 0;
    }
  }

  &--steps {
    counter-reset: recipe-steps-counter;
    flex-grow: 1;
    height: 75%;
    margin-top: 2rem;
    overflow: hidden;

    & > li {
      counter-increment: recipe-steps-counter;

      &::before {
        content: counter(recipe-steps-counter) "/";
        display: inline-block;
        font-size: 2rem;
        font-style: italic;
        font-weight: 100;
        margin-bottom: -7px;
        margin-right: 0.8rem;
      }
    }
  }
}

.button--close {
  background-color: white;
  border: none;
  cursor: pointer;
  height: 3.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  width: 3.5rem;
  z-index: 99;

  @media (max-width: 1100px) {
    border-radius: 10rem;
    height: 5rem;
    padding: 1.25rem;
    width: 5rem;
  }

  &:hover .button--close-img {
    animation-direction: alternate;
    animation-duration: 0.3s;
    animation-name: wave;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

.button--close-img {
  width: 100%;
  height: 100%;
}
